<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat {{roomName}}</title>
    <style>
        .userMessage{
            color:blue;
            margin-left: 1200px;
            text-align: left;
            right: 0px;
        }
        .nonUserMessage{
            margin-left: 200px;
            text-align: left;
        }
        #delete:hover{
            transform: scale(1.05);
            transition-duration: 0.3s;
            box-shadow: 5px 4px 6px black;
        }
    </style>

</head>
<body style="background-color: blanchedalmond;">

    {{roomName | json_script:"room" }}
    {{username | json_script:"user" }}

    <a href="/chatList/{{username}}">Back</a>
    <h1 style="text-align: center;">Welcome to chat: {{roomName}}</h1>
    
    <!-- Delete messages button -->
    <!-- <a href="/deleteChatMess/{{roomName}}/{{username}}" style="text-decoration:none;"> -->
        <div id="delete" style=" background-color: red;position: fixed;height:5% ; width: 5%;  right: 10px;">
            <div style="text-align: center;transform: translate(0,75%);color:white"> 
                    Delete all 
            </div>
        </div>
    <!-- </a> -->
    <br>
        <div style="text-align:center;font-size: 30px;">
            <div style="margin-bottom: 8%;" id="chatArea">
                 <!-- Display already existing messages in the room -->
                {%for m in messages%}
                        <div id="oldMess" >
                            {{m.user}}: {{m.content}}
                        </div>
                        
                        <script>
                            var newMess = document.getElementById("oldMess");
                            newMess.removeAttribute("id");
                            if ("{{username}}" == "{{m.user}}")
                            {
                                newMess.setAttribute("class", "userMessage");
                            }
                            else
                            {
                                newMess.setAttribute("class", "nonUserMessage");
                            }
                        </script>
                {%endfor%}

            </div>
        </div>

    <div style="position:fixed; bottom:1px; width: 100%; height: 10%; text-align: center; " >
        <input style="width: 80%; height: 45%;" id="textSpace" type="text" placeholder="Type a message">
        <input style=" height: 50%;"id="enterButton" type="button" value="Send">
    </div>

    <script>
        const Room = JSON.parse(document.getElementById('room').textContent);
        const User = JSON.parse(document.getElementById("user").textContent);

        // connect to websocket (url is in routing.py)
        const webSocket = new WebSocket ('ws://' + window.location.host + '/ws/chat/' +Room+ '/');

        // disconnect 
        webSocket.onclose = function(e){
            console.error("WebSocket is shutting down")
        }

        // Recieve from consumer
        webSocket.onmessage = function(e){
            const receivedMessage = JSON.parse(e.data);

           if (!('delete' in receivedMessage))
           {
                const newMess = document.createElement("div");
                document.getElementById("chatArea").appendChild(newMess);

                if(receivedMessage.User == User )
                {
                    newMess.setAttribute("class", "userMessage");
                }else
                {
                    newMess.setAttribute("class", "nonUserMessage");
                }
                
                newMess.innerText = (receivedMessage.User + ": " + receivedMessage.message + "\n");
            }
            // If the delete dictionary is sent 
            else if(('delete' in receivedMessage))
            {
                // All messages (user and non-user) are deleted 
                document.getElementById("chatArea").innerHTML = " ";
            }
        }

        //  Click Enter 
        document.querySelector("#textSpace").focus()
        document.querySelector("#textSpace").onkeyup = function(e)
        {
            if (e.keyCode == 13)
            {
                document.querySelector("#enterButton").click();
            }
        }
        // Send message data 
        document.querySelector("#enterButton").onclick = function(e) 
        {     
            var message = document.querySelector("#textSpace").value;
            webSocket.send(JSON.stringify({
                'message':message,
                 "user": User,
                 "room":Room
                }));
            document.querySelector("#textSpace").value = " "; 
        }

        // Delete function
        document.querySelector("#delete").onclick = function(e)
        {
            webSocket.send(JSON.stringify({"delete": Room}));
        }
        

    </script>
</body>
</html>