<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat {{roomName}}</title>
    <style>
        .userMessage{
            color:blue;
            margin-left: 450px;
        }
        .nonUserMessage{
            margin-left: -450px;
        }
    </style>

</head>
<body style="background-color: blanchedalmond;">
    <h1>Welcome to chat: {{roomName}}</h1>

    <div style=" background-color: red;position: fixed;height:5% ; width: 5%;  right: 10px;">
       <div style="text-align: center;transform: translate(0,75%);"> 
           <a href="/deleteChatMess/{{roomName}}/{{username}}" style="color:white;text-decoration:none;"> Delete all </a>
        </div>
    </div>
    <br>
        <div style="text-align:center;font-size: 30px;">
            <div style="margin-bottom: 8%;" id="chatArea">
            </div>
        </div>

    <div style="position:fixed; bottom:1px; width: 290%; height: 10%; background-color:blue;" >
        <input style="width: 33%; height: 45%;" id="textSpace" type="text" placeholder="Type a message">
        <input style=" height: 50%;"id="enterButton" type="button" value="Send">
    </div>

    {{roomName | json_script:"room" }}
    {{username | json_script:"user" }}



    <script>
        const Room = JSON.parse(document.getElementById('room').textContent);
        const User = JSON.parse(document.getElementById("user").textContent);

        console.log(User)
        // Display already existing messages in the room
        "{% for mess in messages %}"
            var savedMessages = document.createElement("div");
            document.getElementById("chatArea").appendChild(savedMessages);
            if("{{mess.user}}" == User) {
                savedMessages.setAttribute("class", "userMessage");

            }else{
                savedMessages.setAttribute("class", "nonUserMessage");
            }
            savedMessages.innerText = ("{{mess.user}}" + ": " + "{{mess.content}}" + "\n");
        "{%endfor%}"


        const webSocket = new WebSocket ('ws://' + window.location.host + '/ws/chat/' +Room+ '/');

        webSocket.onclose = function(e){
            console.error("WebSocket is shutting down")
        }

        webSocket.onmessage = function(e){
            const receivedMessage = JSON.parse(e.data);
            console.log(receivedMessage);
            
            const newMess = document.createElement("div");
            document.getElementById("chatArea").appendChild(newMess);

            if(receivedMessage.User == User ) {
                newMess.setAttribute("class", "userMessage");

            }else{
                newMess.setAttribute("class", "nonUserMessage");
            }
            
            newMess.innerText = (receivedMessage.User + ": " + receivedMessage.message + "\n");


        }
        document.querySelector("#textSpace").focus()
        document.querySelector("#textSpace").onkeyup = function(e){
            if (e.keyCode == 13){
                document.querySelector("#enterButton").click();
            }
        }

        document.querySelector("#enterButton").onclick = function(e) {     
            var message = document.querySelector("#textSpace").value;
            webSocket.send(JSON.stringify({
                'message':message,
                 "user": User,
                 "room":Room
                }));
            document.querySelector("#textSpace").value = " "; 
        }


    </script>
</body>
</html>